<% provide(:title, "Home")%>



<div class="jumbotron">


<h1>WELCOME TO HOMEPAGE!</h1>

<p>This is the homepage page</p>


  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %> 
</div>
